*{
    margin: 0;
    padding: 0;
    font-family: 'Macondo', cursive;
}


#outer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#title{
    padding: 25px;
    margin-top: -50px;
    margin-bottom: 50px;
}

#canvas{
    width: 500px;
    height: 500px;
    border: 20px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.box16{
    box-sizing: border-box;
    width: 31.25px;
    height: 31.25px;
    border: 1px solid black;
}