*{
    margin: 0;
    padding: 0;
    font-family: 'Macondo', cursive;
}


#outer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#outer-wrapper button{
    padding: 8px;
    margin: 8px;
    font-weight: bolder;
}

#title{
    padding: 25px;
    margin-bottom: 20px;
}

#canvas{
    width: 500px;
    height: 500px;
    border: 20px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.boxColored{
    background-color: gray;
}

#outer-text-box-wrapper{
    text-align: center;
}

#content-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
    padding: 25px;
    text-align: center;
    gap: 25px;
}

#instructions{
    font-size: larger;
}

#footer{
    margin-top: auto;
    padding: 25px;
    font-family: Roboco, sans-serif;
    font-weight: bold;
}

#footer a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

#footer a:hover{
    color: green;
    transform: scale(1.2);
}

.left-side,
.center,
.right-side{
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: left;
}